/* Would allow for custom CSS */
div.alert {
    border-left: 10px solid black;
}
div.alert.alert-danger {
    border-color: #ec6904;
    background-color: #fdcfac;
}
div.alert.alert-info {
    border-color: #04c4ec;
    background-color: #ddf5fa;
}

